# Ignore ide config.
.idea/*

# Ignore bundler config.
.bundle

# Ignore rails default testing
test

# Ignore vendor/bundle
vendor/bundle

# Ignore vendor/ruby
vendor/ruby

# Ignore all logfiles and tempfiles.
log/*
tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history

# Ignore database.yml
config/database.yml
config/application.yml
config/secrets.yml

# Ignore .ruby-gemset
.ruby-gemset

# Ignore .ruby-version
.ruby-version

# Ignore public/uploads
public/uploads

# Ignore public/assests
public/assets

# Simplecov coverage folder
coverage

Dump20171024.sql