= link_to 'I need people',  event_need_persons_path(@event, to: 'first_form')
br
= link_to 'I need things',  event_need_things_path(@event, to: 'first_form')
br
= link_to 'Go Back',  event_time_form_path(@event)